# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.#*

# Bin  
*.bin
*/bin/*

server_X/CMakeCache.txt
server_X/CMakeFiles
server_X/Makefile
server_X/cmake_install.cmake
server_X/bin/

arduino/Makefile
arduino/CMakeFiles
arduino/bin/
arduino/CMakeCache.txt
arduino/cmake_install.cmake

